%div{:style => 'margin: 20px'}

  - if logged_in_user
    %p 
      for more information go to the
      = link_to 'help page', help_url
    %br
  
  %h2#whatis What is movierok?
  %div{:style => 'border-left: white solid 1px; padding: 20px; margin: 20px; margin-left: 0'}
    %p
      %strong{:style => 'font-size:1.05em'} movierok is an open database for movie rips.

  %p
    movierok helps you organize
    %strong your movies
    %span> :
  %ul
    %li browse through them online
    %li find them faster
    %li search for them
    %li start them with one click
    %li see which movies your friends have

  %br
  %p movierok &hellip;
  %ul
    %li
      uses
      = link_to 'omdb.org', "http://www.omdb.org"
      for movie information
    %li is user-driven like wikipedia or omdb.org
    %li 
      works like 
      =link_to 'musicbrainz', 'http://musicbrainz.org/'
      but for movies
    %li will always remain free and open
    %li needs you to install a firefox extension
    %li provides webservices so other programs can use it
    %li
      already counts
      = Rip.count
      = link_to 'rips', rips_path
  %br

  Checkout this
  = link_to 'video', 'http://www.vimeo.com/1564926?pg=embed&amp;sec=1564926'
  to get an idea how movierok works.

  %br
  %br
  %p
    =link_to 'Sign up', new_user_url
    and let us know what you think about it.
  %p
    We appreciate every
    = link_to('feedback', 'http://feedback.movierok.org/')
    we get.