%div{:style => 'margin: 20px'}
  - total_rips = Rip.count
  %h1 stats

  %dl#stats
    %dt beta since
    %dd Aug 20, 2008
    %dt rips
    %dd= total_rips
    %dt parts
    %dd= Part.count
    %dt movies
    %dd= Movie.count
    %dt releasers
    %dd= Rip.find(:all, :select => 'releaser', :group => 'releaser').size

  %table#users_table{:summary => "This table shows all users on movierok, shows how many rips they've got and how many they've created"}
    %caption top users on movierok
    %tr
      %th
      %th
      %th got
      %th created
      %th created in %
    - @users.each_with_index do |user, index|
      - if (index+1) < 6 or user == logged_in_user
        %tr
          %th== #{index+1}.
          %th{:scope => 'row', :style => 'text-align:left'}
            = link_to user.name, user_rips_path(user)
          %td= Rip.get(:user => user.name).total_hits
          %td= user.created_rips_count
          %td= user.created_rips_in_percent(total_rips)

  %br{:style => 'clear:both'}
  %br
  =image_tag('/rips_graph.png')